.body_launch{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(233,233,233,1) 100%);
}
@keyframes blink {
    0% {
           opacity: 1   }
    50% {
           opacity: 0
    }
    100% {
           opacity: 1   }
}
@-webkit-keyframes blink {
    0% {
           opacity: 1   }
    50% {
           opacity: 0
    }
    100% {
           opacity: 1   }
}
.blink{
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.5s infinite ease-in-out;
    /* Opera */
}